@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Henkilökohtaiset Tiedot";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Tilisi sisältää henkilökohtaisia tietoja joita olet tallentanut. Tämä sivu antaa sinulle mahdollisuuden ladata tai poistaa nämä tiedot.</p>
        <p>
            <strong>Poistamalla nämä tiedot poistat käyttäjätilisi ja kaikki siihen liittyvät tiedot lopullisesti. Näitä tietoja ei voi palauttaa poistamisen jälkeen!</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Lataa</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger mt-2">Poista</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
