@page
@model IndexModel
@{
	ViewData["Title"] = "Kotisivu";
}

<div class="container">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body m-5">
					<h1>Tervetuloa AikaHalli-sovellukseen.</h1>
					<br />
					<p>Tällä sovelluksella pääset seuraamaan ja analysoimaan ajankäyttöäsi. Luo tehtäviä, seuraa ajankäyttöä niiden parissa ja lataa raportteja ajankäytöstäsi. Voit myös muokata suoraan ajankäytön seurannan tuloksia tai luomaan manuaalisesti aikaleimoja, eli ei haittaa jos aina ei muista käynnistää ajanseurantaa.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col">
			<div class="card">
				<div class="card-header">
					Ajanseuranta
				</div>
				<div class="card-body">
					<h5 class="card-title">Ajanseurannan toimenpiteet</h5>
					<p class="card-text">Täältä pääset tekemään ajanseurannan toimenpiteitä kuten tehtävien aloitusta ja lopetusta.</p>
					<a class="btn btn-primary" asp-page="/TimeTracker">Ajanseuranta</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-header">
					Tehtävät
				</div>
				<div class="card-body">
					<h5 class="card-title">Tehtävien hallinta</h5>
					<p class="card-text">Täältä pääset luomaan uusia tehtäviä tai muokkaamaan olemassa olevia tehtäviä.</p>
					<a class="btn btn-primary" asp-page="/Tasks">Tehtävät</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-header">
					Aikaleimat
				</div>
				<div class="card-body">
					<h5 class="card-title">Aikaleimojen hallinta</h5>
					<p class="card-text">Täältä pääset hallinnoimaan olemassa olevia aikaleimoja tai luomaan uusia tarvittaessa.</p>
					<a class="btn btn-primary" asp-page="/TimeEntries">Aikaleimat</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card">
				<div class="card-header">
					Raportit
				</div>
				<div class="card-body">
					<h5 class="card-title">Raportit ja lataus</h5>
					<p class="card-text">Täältä pääset tarkastelemaan ja lataamaan raportteja eri tiedostomuodoissa.</p>
					<a class="btn btn-primary" asp-page="/Reports">Raportit</a>
				</div>
			</div>
		</div>
	</div>
</div>
